@tailwind base;
@tailwind components;
@tailwind utilities;

.category-scrollbar::-webkit-scrollbar {
    width: 0;
}

@media (min-width: 768px) {
    .category-scrollbar::-webkit-scrollbar {
        height: 6px;
    }
    .category-scrollbar::-webkit-scrollbar-track {
    }
    .category-scrollbar::-webkit-scrollbar-thumb {
        background: #d1d5db;
        border-radius: 99px;
    }
}

.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.three-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
