@tailwind base;
@tailwind components;
@tailwind utilities;

.category-scrollbar::-webkit-scrollbar {
    width: 0;
}

@media (min-width: 768px) {
    .category-scrollbar::-webkit-scrollbar {
        height: 6px;
    }
    .category-scrollbar::-webkit-scrollbar-track {
    }
    .category-scrollbar::-webkit-scrollbar-thumb {
        background: #d1d5db;
        border-radius: 99px;
    }
}
